/* --- ESTILOS GENERALES --- */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    color: #222;
}

/* NAVBAR */
.navbar {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #e4e4e4;
}

.logo {
    margin: 0;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 3px;
}

/* HERO */
.hero {
    text-align: center;
    padding: 70px 20px;
    background: #ececec;
    border-bottom: 1px solid #ddd;
}

.hero h2 {
    font-size: 40px;
    font-weight: bold;
}

.hero p {
    margin-top: 10px;
    font-size: 18px;
    opacity: 0.7;
}

/* PRODUCTOS */
.products-section {
    padding: 40px;
    text-align: center;
}

.section-title {
    font-size: 32px;
    margin-bottom: 20px;
}

/* GRID */
.products-grid {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    padding: 20px;
}

/* CARDS */
.card {
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform .2s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 15px;
}

.card h3 {
    margin: 0;
    font-size: 20px;
    margin-bottom: 5px;
}

.price {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

button {
    background: black;
    color: white;
    border: none;
    padding: 12px 0;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #333;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    background: #f1f1f1;
    font-size: 14px;
}
